<%= form_for [:system_admin, @organization] do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <p> Set organization custom domain or use our domain with your subdomain in format 'subdomain.<%= ApplicationController::MAIN_DOMAIN %>'</p>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br>
    <%= f.select :owner_id, User.all.map{|u| [u.name, u.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
