<h1>Listing Organizations</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Domain</th>
      <th>Owner</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name , system_admin_organization_path(organization)%></td>
        <td><%= organization.description %></td>
        <td><%= organization.domain %></td>
        <td><%= organization.owner.name %></td>
        <td><%= link_to 'Edit' , edit_system_admin_organization_path(organization)%></td>
        <td><%= link_to 'Destroy', system_admin_organization_path(organization) ,method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization' , new_system_admin_organization_path %><br>
