<span style="color: green" >  Users who added to current project:  </span>

   <% if @project.users.exists? %>
  <table class="table table-hover">
      <% @project.users.each do |user| %>
        <tr>
          <td><%= user.name%></td>
          <td>
            <% if @project.owner == current_user %>
              <%= link_to 'delete', del_project_path(:id_u => user.id) , method: :delete, data: { confirm: "Are you sure delete #{user.name}?" }%>
            <% end%>
          </td>
        </tr>
      <% end%>
    </table>
    <br>
  <% else %>
      <br>No added Users to current project<br><br>
  <%end%>
  <% if @project.owner == current_user && User.free_users(@project).present? %>
    <%= form_for( :id_k, url: {action: "add"})  do |f| %>
      <%= f.select :id , @array_of_users, {},{ :class => "selectpicker" } %>
      <%= f.submit  "Add to my project" %>
    <% end %>
  <% end %>

    <br>