<div class="col-md-12">
<h1 >Listing Projects</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<% @array_of_projects_ids =  User.find(current_user.id).project_ids%>

    <%@projects.each do |pro|%>
    <% if pro.owner_id == current_user.id%>
    <% @array_of_projects_ids << pro.id %>
    <%end%>
    <%end%>

    <% @projects.where(id: @array_of_projects_ids ).each do |project| %>
         <tr>
        <td><%= link_to project.title, project %></td>
        <td><%=  urls_to_links(project.text)  %></td>
        <td><%=  project.city %></td>
        <% if  project.owner ==   current_user %>
          <td ><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
<br><br>
<%= link_to 'Back', root_path %>

</div>