<div class="left col-xs-4">
               <div>

                <p>
                  <span style="color: green" >  Owner:  </span>
                  <%= @project.owner.name%>
                    <br><br>
                  <strong>Title:</strong>
                  <%= @project.title %>
                </p>

                <p>
                  <strong>City:</strong>
                  <%= @project.city %>
                </p>

                <p>
                  <strong>Text:</strong>
                  <%=urls_to_links(urls_to_images(@project.text))%>
                </p>

                  <% if @project.owner == current_user %>
                    <%= link_to 'Edit', edit_project_path(@project) %>
                  <% end %>
                  <%= link_to 'Back', projects_path %>
             </div>

  <div class="comments ">
          <%= render "projects/form_c" %>
          <%= render "projects/index_c" %>
  </div>
</div>
<div class="center col-xs-2">
          <%= render "projects/add_users" %>
</div>
<div class="right col-xs-6">
          <%= render "attachments/add_attachment_to_project" %>
</div>
