<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @project.text %>
</p>

<p>
  <strong>City:</strong>
  <%= @project.city %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Back', projects_path %>

</br>
</br>

<h1>Create Comment</h1>
<%= render "projects/form_c" %>

<%= render "projects/index_c" %>


