<div class="col-xs-10">
  <h1>Listing news</h1>
  <div class="panel panel-body">
    <% @novelties.each do |novelty| %>
  <div class="panel panel-body">
       <div>
        <%= link_to novelty.title , novelty_path(novelty) %>
         <span style="float: right;" >Category:
          <span style="background-color: <%=novelty.novelty_category.color unless novelty.novelty_category.nil?%> ; padding: 5px; border-radius:5px;">
           <%= novelty.novelty_category.name unless novelty.novelty_category.nil?%>
           <%="none" if novelty.novelty_category.nil?%>
          </span>
        </span>
       </div>
  </div>
  <div class="panel panel-body">
       <%= novelty.body.at(0..300)%>
       <%= link_to "... read more", novelty_path(novelty) %>
   <br>
  </div>
   <div class="panel panel-body">
    Tag: <%= link_to novelty.tag %> Created : <%= novelty.created_at.strftime("| %H:%M  | %d-%m-%Y |") %>
    </div>
    </div>
     <% end %>
  <br>
  <%= link_to 'Back' , root_path %>
</div>