%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      = link_to :root, class: "navbar-brand navbar-brand-emphasized" do
        %span.icon.icon-leaf.navbar-brand-icon
        = current_organization.name.humanize
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar
      %ul.nav.navbar-nav.navbar-left{style: 'margin-left: 20px;'}
        - Page.order_position.each do |page|
          = active_link_to page.title , page_path(page.url) if page.visible?
        - if user_signed_in?
          = active_link_to t('layouts.top_navigation.campaigns'), campaigns_path
          = active_link_to t('layouts.top_navigation.reports'), reports_path
          -# = active_link_to t('layouts.top_navigation.news'), novelties_path
          -# = active_link_to t('layouts.top_navigation.projects'), projects_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= render "layouts/intop_admin_navigation"
          %li.dropdown= render "layouts/intop_language_navigation"
          %li.dropdown= render "layouts/intop_user_navigation"
        - else
          %li.dropdown= render "layouts/intop_language_navigation"
          %li= link_to(t('.sign_in'), new_user_session_path)
