%nav.navbar.navbar-default.navbar-fixed-top{style: 'background-color: orange;'}
  .container-fluid
    .navbar-header
      = link_to :root, :class => "navbar-brand navbar-brand-emphasized" do
        %span.icon.icon-leaf.navbar-brand-icon
        = current_organization.try(:name).try(:humanize)
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar
      %ul.nav.navbar-nav{style: 'margin-left: 20px;'}
        = active_link_to 'Organizations', system_admin_organizations_path
      %ul.nav.navbar-nav.navbar-right
        %li= render "layouts/intop_admin_navigation"
        %li.dropdown= render "layouts/intop_language_navigation"
        %li.dropdown= render "layouts/intop_user_navigation"
