<!DOCTYPE html>
<html>
  <head>
    <title>TeamWork</title>
    <base href="/" />
    <meta charset = "utf-8" />
    <meta content = "width=device-width, initial-scale=1" name = "viewport" />
    <meta content = "IE=edge" "http-equiv" = "X-UA-Compatible" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class = "col-xs-12">
      <nav class = "navbar navbar-default navbar-fixed-top">
        <div class = "container-fluid">
          <% if admin_side? %>
            <%= render 'layouts/top_navigation_admin' %>
            <% else %>
            <%= render 'layouts/top_navigation' %>
          <% end %>
        </div>
      </nav>
    </header>
    <div class="tbody col-xs-10 col-xs-offset-1" style = "margin-top:50px; min-height: 680px;">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    </div>
    <footer class="col-xs-12">
      <div class="center-block"> Team_Work, <%= Time.now.to_datetime.year %> </div>
    </footer>
  </body>
</html>
